html {
    font-family: "Open Sans", "Times New Roman", "Arial";
}

body {
  background: linear-gradient(0deg, #FFFFFF 0%, #958BAC 57%, #58497C 90%, #46356E 100%) no-repeat; /* w3c */

/* background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 0%, #FFFFFF 0%, #FFFFFF 0%, #ffffff 83%, #46356E 100%, #000000 100%, #000000 100%, #46356e 100%); /* w3c */  /* nice tomato */ */
}

button {
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

textarea{
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  width:250px;
  font-size:14px;
  border-radius:10px;
  border:6px solid #556677;
}

/* cyrillic */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6D6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6I6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6J6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.grid-container {
    display: grid;
}


.body-wrapper.grid-container {
    height: 100vh;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.1fr 1fr;
    text-align: center;
}

.body-wrapper header {
    grid-column: 2;
    grid-row: 1;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 70px;
    margin-bottom: 20px;}

.body-wrapper .brandlogo{
    grid-column: 1 ;
    grid-row: 1;
    align-self: center;
    justify-self:end;

    }


.body-wrapper main {
    grid-column: 2;
    grid-row: 2;
}

.pomodoro-wrapper.grid-container {
    grid-template-columns: 0.2fr 0.5fr 0.5fr 0.2fr;
    grid-template-rows: 0.25fr 1.5fr 0.25fr;
    height: 100%;
}

.pomodoro-control-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / span 2;
}


.pomodoro-buttons {
    grid-row: 2;
    grid-column: 3;
    align-self:center;
    justify-self:start;
    padding: 20px 0;
}

.pomodoro-buttons button {
    width: 80px;
    height: 50px;
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 600;
}

#start {
    background: #B3C100;
}

#start:hover {
    background: #9da90b;
}

#stopresume {
    background: #4CB5F5;
}

#stopresume:hover {
    background: #3199d8;
}

#reset {
    background: #34675C;
}

#reset:hover {
    background: #2c524a;
}

.control-title {
    grid-row: 2;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

.control-units {
    padding-top: 5px;
}

.control-units > div {
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 20px;
    padding-top: 15px;
}

.control-units > button {
    height: 35px;
    width: 35px;
    font-size: 20px;
    border: 5px;
}

.control-units > button.decrease {
    background: rgba(156,42,0,0.5);
}

.control-units > button.decrease:hover {
    background: #FF420E;
}

.control-units > button.add {
    background: rgba(137,218,89,0.5);
}

.control-units > button.add:hover {
    background: #89DA59;
}

@media screen and (max-width: 767px) {
    .control-units {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.pomodoro-clock-wrapper {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pomodoro-clock {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    color: black;
    font-family: 'Pacifico' cursive;
    background: -webkit-gradient(linear, left bottom, right top, from(#80d0c7), color-stop(#20948B), to(#ff7eb3));
    background: -webkit-linear-gradient(bottom left, #80d0c7, #20948B, #ff7eb3);
    background: -o-linear-gradient(bottom left, #80d0c7, #20948B, #ff7eb3);
    background: linear-gradient(to top right, #80d0c7, #20948B, #ff7eb3);
    background-size: 400% 400%;
}

.session-animation {
    color: black;
    font-family: 'Pacifico' cursive;
    background: -webkit-gradient(linear, left bottom, right top, from(#80d0c7), color-stop(#20948B), color-stop(#ff7eb3), to(#ff758c));
    background: -webkit-linear-gradient(bottom left, #80d0c7, #20948B, #ff7eb3, #ff758c);
    background: -o-linear-gradient(bottom left, #80d0c7, #20948B, #ff7eb3, #ff758c);
    background: linear-gradient(to top right, #80d0c7, #20948B, #ff7eb3, #ff758c);
    background-size: 400% 400%;
    -webkit-animation: sGradient 60s ease infinite;
    animation: sGradient 60s ease infinite;
}

.pause-animation {
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
}

.play-animation {
    -webkit-animation-play-state: running !important;
    animation-play-state: running !important;
}

@-webkit-keyframes sGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes sGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.break-animation {
    background: -webkit-gradient(linear, left bottom, right top, from(#EE7752), color-stop(#E73C7E), color-stop(#23A6D5), to(#23D5AB));
    background: -webkit-linear-gradient(bottom left, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: -o-linear-gradient(bottom left, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: linear-gradient(to top right, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: bGradient 60s ease infinite;
    animation: bGradient 60s ease infinite;
}

@-webkit-keyframes bGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes bGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.pomodoro-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
}

.pomodoro-title {
    grid-column: 2;
    font-family: 'Pacifico', cursive;
}

.gr3 {
    grid-row: 3 !important;
}

.pomodoro-title.session {
    grid-row: 1;
    font-size: 35px;
    padding-top: 20px;
    font-weight: bold;
}

.pomodoro-title.break {
    grid-row: 3;
    font-size: 22px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.pomodoro-title.rounds div {
    display: inline;
}

.pomodoro-timer {
    grid-column: 2;
}

.pomodoro-timer.session {
    grid-row: 2;
    font-size: 45px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.pomodoro-timer.break {
    grid-row: 4;
    font-size: 28px;
    font-style: italic;
}

.pomodoro-timer.rounds {
    grid-row: 5;
    font-style: italic;
}

#rounds-display {
    font-family: "Open Sans";
    font-size: 20px;
}

.btn-disabled, .btn-disabled:hover {
    background: dimgrey !important;
    cursor: not-allowed;
}
